.country-card {
    box-shadow: 5px 5px 15px gray;
    border-radius: 0.5rem;
}

.details-btn {
    background-color: orange;
    padding: 8px 23px;
    border-radius: 5px;
    border-style: none;
}

.modal-close-btn {
    padding: 5px 15px;
    background-color: slateblue;
    color: white;
    font-size: 2rem;
    border-style: none;
    position: absolute;
    top: 10px;
    right: 15px;
}